set project mipi-vcu118 
set top_vivado vivado
set part xcvu9p-flga2104-2L-e
set _board_part_ "xilinx.com:vcu118:part0:2.4"
set _platform_board_id_ "vcu118"
# variables defined in Vivado tcl scripts
set bd_name "sync_vdma"
